{% extends 'home/base.html' %}
{% load static %}

{% block title %}
    Jake Ardoin Homepage
{% endblock title %}

{% block head %}
    <meta name="description" content="Homepage of Jake Ardoin">
    <meta name="keywords"
          content="Jake, ardoin, software developer, cookbook, blog, technology">
    <style>
        .headshot {
            width: 350px;
            /* Adjust the width as needed */
            height: 350px;
            /* Adjust the height to be equal to width for a perfect circle */
            border-radius: 50%;
        }

        .page-bg {
            background: url("{% static 'home/images/tech_bg_white.png' %}");
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center;
        }

        .main-col {
            background-image: url("{% static 'home/images/white_tech_bg.png' %}");
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center;
            opacity: 0.21;
        }
    </style>
{% endblock head %}

{% block body %}
    <div class="container text-center page-bg">
        <div class="row">
            <div class="col-4 border border-secondary border-3">
                <div class="row">
                    <div class="col">
                        <img class="headshot my-4"
                             src="{% static 'home/images/my_photo.png' %}"
                             alt="Photo of Jake Ardoin" />
                    </div>
                    <div class="col">
                        <h2>
                            <b>I'm Jake Ardoin</b>, an independent software developer, avid 3D-printing enthusiast, and
                            pretty decent cook.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-8 border border-secondary border-3">
                <!-- SECTION Main Section-->
                <div class="row justify-content-center">
                    <div class="col-8 text-center">
                        <h1 class="text-center pt-4">Welcome!</h1>
                        <p class="fs-5 text fw-medium pt-2">
                            I'm currently reworking this website so it's a bit messy right now. Even so,
                            the cookbook currently has about 60 out of 100 total recipes, and I'm working
                            on getting some articles up on the blog as soon as I finish setting that part of the site up.
                        </p>
                    </div>
                    <div class="row align-items-center">
                        <article class="col text-center">
                            <a href="{% url 'cookbook:recipe-list' %}">
                                <img class="img-fluid"
                                     src="{% static 'home/images/jakes_blog_image.png' %}"
                                     class="image fit thumb"
                                     alt="Image of a laptop that leads to the blog portion of the site" />
                            </a>
                            <h3>My Blog</h3>
                            <p>Posts about software development.</p>
                        </article>
                        <article class="col text-center">
                            <a href="{% url 'cookbook:recipe-list' %}">
                                <img class="img-fluid"
                                     src="{% static 'home/images/red_cajun_cookbook.png' %}"
                                     class="image fit thumb"
                                     alt="Image of a cookbook that leads to the cookbook portion of the site" />
                            </a>
                            <h3>Grandma's Mama's Recipes</h3>
                            <p>Recipes from my grandfather's cookbook.</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
