[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djlint = "*"
honcho = "*"
psycopg = {extras = ["binary"], version = "*"}
dj-database-url = "*"
django-debug-toolbar = "*"
uvicorn = "*"
uuid6 = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.10"
