.main {
        background-image: url("{% static 'home/images/tech_bg_blue_red.png' %}");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}

.headshot{
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height to be equal to width for a perfect circle */
    border-radius: 50%; /* This makes the image round */
    object-fit: cover; /* This ensures the image covers the space without stretching */
    border: 3px solid #fff; /* Optional: Adds a white border around the image */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow for depth */
  }