{% extends 'home/base.html' %}
{% load static %}

{% block title %}
    About the Cajun cookbook "Grandma's Mama's Recipes" by Karrel Ardoin
{% endblock title %}

{% block head %}
    <meta name="description"
          content="About the Cajun cookbook 'Grandma's Mama's Recipes' by Karrel Ardoin">
    <meta name="keywords"
          content="jake, ardoin, karrel, cajun, cookbook, grandma, mama, recipe, mamou, louisiana">
{% endblock head %}

{% block body %}
    <div class="mt-4 col">
        <h1 class="text-center">
            About
            <br>
            <i>Grandma's Mama's Recipes</i>
        </h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="mt-4 p-2 col-12 col-lg-6 border border-danger border-3 rounded">
            <img src="{% static 'home/images/grandmas_mamas_recipes.png' %}"
                 class="rounded my-3 mx-auto d-block"
                 style="height:500px;
                        width: 375px"
                 alt="" />
            <p>
                <i>Grandma's Mama's Recipes</i> is a cookbook written by my grandfather, Karrel Ardoin, around the mid 90's.
                It is a collection of recipes from his friends and family alongside a few personal stories about life in
                Louisiana's Cajun Country in the early 1900's.
            </p>
            <p>From the back of the book:</p>
            <blockquote class="blockquote">
                <p class="text-center fs-2">Souvenir of Cajun Country</p>
                <p class="text-center fs-2">
                    <i><b>"Grandma's Mama's Recipes"</b></i>
                </p>
                <p>
                    "Cajun Cooking is what you eat at your Mama's house or your Grandma's house." Cajun Cooking
                    is <b>Easy &amp; Fast</b>.
                    <br>
                    In those days, <b>Cajun ladies worked in the fields</b>. The lady of
                    the house left the field about 30-minutes before the men--to fix dinner for the group. She
                    went back to work when they did.
                </p>
                <p>
                    <b>FREE BENEFITS!</b> You get the picture, lifestory, and favorite recipes of:
                    <br>
                    Newest Governor of Louisiana --- Mike Foster
                    <br>
                    Oldest living Govenor (93) -- Jimmie Davis
                    <br>
                    Only Govenor to serve 4 terms -- Edwin Edwards
                    <br>
                    Louisiana's Most Notorious Govenor -- Huey P. Long
                    <br>
                    Of Grand Ole Opry fame -- Jimmy C. Newman
                    <br>
                </p>
                <p>
                    <b>Goldie's "Black Eye Pea Cake" recipe is over 100 years old.</b> Goldie, <b>87</b>, ate cakes
                    her mother made from that same recipe. <b>It's delicious.</b>
                </p>
                <p>
                    <b>Bernadette is 87</b> years old yet <b>her syrup pies are simply scrupmtious.</b> Syrip pies were
                    a staple. Syrup was plentiful; every farmer had a sugar cane patch.
                </p>
                <p>
                    <b>Malou's candy is so good, it's immoral</b>. When you see company coming,
                    <b>it makes you want to hide it under a bed</b>-- to keep it all for yourself.
                </p>
                <p>
                    <b>Anita Fontenot</b> won the <b>1996 FNBC</b> Recipe Contest with her <b>"Crawfish Bisque"</b> recipe.
                </p>
                <p>
                    <b>"Ta-Ta" Guillory</b> won several awards from food companies with her <b>"Tartar Sauce"</b> recipe.
                </p>
                <p>
                    The recipes are old -- <b>only the very best survived the test of time. This book will make you proud</b>.
                    Your cooking will taste like <b>Real Cajun Cooking</b> because <b>it will be real Cajun Cooking.</b>
                    <b>You'll use &amp; enjoy this book for years to come.</b>
                </p>
            </blockquote>
        </div>
    </div>
{% endblock body %}
