{% extends 'cookbook/cookbook-base.html' %}
{% load static %}
{% block meta %}
    <meta name="description"
          content="Recipes by {{ author.first_name }}, {{ author.last_name }}">
    <meta name="keywords"
          content="{{ author.first_name }}, {{ author.last_name }}, cajun, recipe, cookbook, Louisiana">
{% endblock meta %}
{% block title %}
    Author Details
{% endblock title %}
{% block body %}
    <div class="container">
        <div class="my-4 col">
            <h1 class="text-center">{{ author.first_name }} {{ author.last_name }}</h1>
        </div>
        <div class="row justify-content-md-center">
            <div class="my-2 p-2 col-lg-6 border border-danger border-3 rounded">
                <div class="my-2">
                    <h2 class="text-centered">Recipes By Author:</h2>
                    <ul>
                        {% for recipe in author.recipe_set.all %}
                            <li class="m-1">
                                <a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="mt-4">
                    <h2 class="text-centered">Author Info (if available):</h2>
                    <p>{{ author.misc_info }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
