{% extends 'home/base.html' %}
{% load static %}
{% load author_methods %}
{% block head %}
    <meta name="description"
          content="List of authors who contributed recipes to this cookbook">
    <meta name="keywords" content="cajun, recipe, cookbook, Louisiana">
{% endblock head %}
{% block title %}
    Author List
{% endblock title %}
{% block body %}
    <div class="container">
        <div class="my-4 col">
            <h1 class="text-center">Author List</h1>
        </div>
        <div class="row justify-content-md-center">
            <div class="my-2 p-2 col-lg-6 border border-danger border-3 rounded">
                <ul>
                    {% get_author_list_alphabetical as author_list %}
                    {% for author in author_list %}
                        <li class="m-1">
                            <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock body %}
