{% extends 'cookbook/cookbook-base.html' %}
{% load static %}
<!-- {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'cookbook/css/main.css' %}" />
{% endblock stylesheet %} -->
{% block title %}
    {{ recipe.title }} by {{ recipe.author }}
{% endblock title %}
{% block body %}
    <div class="container">
        <div class="mt-4 col">
            <h1 class="text-center">{{ recipe.title }}</h1>
            <h3 class="text-center">{{ recipe.author }}</h3>
        </div>
        <!-- <div class="recipe-image">
        <img src="sloppy-joes.jpg" alt="Sloppy Joes">
    </div> -->
        <div class="row justify-content-md-center">
            <div class="mt-4 p-2 col-lg-6 border border-danger border-3 rounded">
                <h2>Ingredients</h2>
                <ul>
                    {% for ingredient in recipe.ingredients_as_list %}<li class="m-1">{{ ingredient }}</li>{% endfor %}
                </ul>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="mt-4 p-2 col-lg-6 border border-danger border-3 rounded">
                <h2>Instructions</h2>
                <ol>
                    {% for instruction in recipe.instructions_as_list %}<li class="m-1">{{ instruction }}</li>{% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock body %}
